body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  max-width: 600px;
  margin: 0 auto;
}

.solid.data.pending:before {
  content: "…";
  color: #999;
}

.solid.data.empty:before {
  content: "(none)";
  color: #999;
}

.solid.data.error:before {
  content: '[' attr(error) ']';
  font-style: italic;
  color: red;
}

img.profile {
  float: right;
  max-width: 120px;
  max-height: 120px;
}
